.ck-content ul {
    margin-left: 20px;
    margin-bottom: 10px;
}
.heading-section .page-title {
font-size: 36px;
    font-weight: 600;
   margin-bottom: 16px;
}
.heading-section .page-sub_title {
font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
}
.image-block .row .col .image {
margin-bottom: 20px;
  margin-top: 10px;
}
.section-about_us img{
border-radius: 6px;
}
.image-block .row .col .image figcaption {
   font-size: 16px;
   line-height: 24px;
   background-color: transparent;
}
.page-description > p {
margin-bottom: 10px;
   font-size: 16px;
}
.section-our_mission {
background-color: var(--color-1st);
  border-radius: 12px;
    margin-bottom: 30px;
}
.section-our_mission h3, .section-our_mission p {
color: #fff;
}
.section-our_mission .col.col-12.col-md-6,
.section-quality_production .col.col-12.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-our_mission .img-block,
.section-quality_production .col.col-12.col-md-6 {
margin-bottom: 0px;
}
.section-quality_production .text-block {
  margin-right: 15px;
}
.section-quality_production .image,
.section-transparency_care .image,
.section-our_commitment .image {
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-transparency_care .text-block {
  margin-left: 15px;
}
.section-our_commitment {
    border: 1px solid var(--color-1st);
    border-radius: 12px;
}
.section-our_commitment .page-description {
  justify-self: center;
}
@media only screen and (max-width: 991px) {
  .section-quality_production .col .image, .section-transparency_care .col .image {
   margin-top: 16px;
  }
 
  .section-transparency_care .col-lg-7 {
   order: 1;
  }
  .section-transparency_care .col-lg-5 {
   order: 2;
  }
  .section-quality_production .text-block, .section-transparency_care .text-block {
   margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
    .mobile-d-block {
        display: none !important;
    }
    .mobile-d-none {
        display: block !important;
    }
}
@media only screen and (max-width: 767px) {
    .mobile-d-none {
        display: none !important;
    }
    .mobile-d-block {
        display: block !important;
    }
   .image-block .row .col {
   padding-left: 6px;
       padding-right: 6px;
   }
   .image-block .row {
   margin-left: 3px;
       margin-right: 3px;
   }
   .section-about_us .heading-section .page-title {
     text-align: center;
       padding-bottom: 10px;
      font-size: 30px;
   }
  .section-transparency_care, .section-our_commitment {
       padding: 30px 0;
  }
}