// ======================================= CUSTOM =======================================
.btn-fill-out:hover {
    outline: 1px solid var(--color-1st);
}

.dk-filter_product.product_header_right {
    .custom_select {
        .form-control {
            min-width: 125px;
        }
    }
}

.dk-compare_box {
    table {
        tr {
            border-color: #000;
        }
    }
}
.dk-products_attribute {
    span {
        font-size: 12px;
        font-weight: 500;
    }
}

.dk-simple-slider-style-7-dk {
	.carousel {
		position: relative;
	}

	.dk-simple-slider-7-dk__controls {
		position: absolute;
    	left: 0;
    	right: 0;
    	bottom: 24px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	gap: 16px;
    	z-index: 3;
    	pointer-events: none;
    
    	> * {
    		box-shadow: 3px 3px 6px 0px #dd7e6b;
    	}
	}

	.dk-simple-slider-7-dk__dots {
    	background: rgba(255, 255, 255, 0.9);
    	border-radius: 46px;
    	padding: 15px 24px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	pointer-events: auto;
	}

	.dk-simple-slider-7-dk__dots .carousel-indicators {
    	position: static;
    	margin: 0;
    	gap: 24px;
    	align-items: center;
	}

	.dk-simple-slider-7-dk__dots .carousel-indicators [data-bs-target] {
    	margin: 0;
    	height: 4px;
    	width: 4px;
    
    	&:before {
    		margin: -7px;
    	}
	}

	.dk-simple-slider-7-dk__nav {
    	width: 34px;
    	height: 34px;
    	border-radius: 46px;
    	border: 0;
    	background: rgba(255, 255, 255, 0.9);
    	color: #000;
    	display: inline-flex;
    	align-items: center;
    	justify-content: center;
    	pointer-events: auto;
    	transition: all 0.3s ease;
	}

	.dk-simple-slider-7-dk__nav:hover {
		background: var(--color-1st);
    	color: #fff;
	}
	
	.carousel-control-prev,
    .carousel-control-next {
		display: none;
	}

}

@media screen and (max-width: 768px) {
	.dk-simple-slider-style-7-dk {
		.dk-simple-slider-7-dk__controls {
        	flex-direction: column;
        	align-items: flex-end;
        	right: 20px;
        	top: 50%;
        	bottom: auto;
        	transform: translateY(-50%);
        
        	.dk-simple-slider-7-dk__nav {
        		width: 36px;
            	height: 36px;
        	}
        
        	.dk-simple-slider-7-dk__dots {
            	padding: 24px 15px;
            
            	.carousel-indicators.indicators_style2 {
            		flex-direction: column;
                	gap: 25px;
            	}
        	}
    	}
	}
} 


.dk-product_button {
    text-align: center;
    margin-top: 24px;
}

// ============== Style - Border Card Item Product ===============

.dk-product-collection-1  {
    .tab_slider.tab-content {
        .owl-stage {
            .owl-item {
                .item {
                    position: relative;
                    border-radius: 20px;
                    // padding: 10px;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: linear-gradient(180deg, #ff00c8, cyan);
                        animation: animateDK 6s linear infinite;
                        transition: all .3s linear;
                        width: 100px;
                        height: 130%;
                        top: 50%;
                        left: 50%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 5px;
                        // background-color: #141414;
                        border-radius: 15px;
                    }

                    .product_wrap {
                        border-radius: 20px;

                        .product_img {
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}

.product, .product_wrap {
	box-shadow: 3px 3px 6px 0px #dd7e6b;
	border-radius: 12px;

	.product_info {
		border-radius: 0px 0px 12px 12px;
	}

	.product_img {
		border-radius: 12px 12px 0px 0px;
	}
}


@keyframes animateDK {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

// ===================Style - Product Collection ===================
.section-full_width-custom {
    background-color: #000;

    .nav-link {
        background-color: transparent !important;
    }

    .nav-link.active {
        .pc-collection-tab__title {
            color: var(--color-1st);
        }
    }

    .bg-dark-dk {
        h2, p, .pc-collection-tab__title {
            color: #fff;
        }
    }
}

@media screen and (max-width: 576px) {
    #tabmenubar, #tabmenubar-style-1-dk {
        justify-content: flex-start !important;
    }
}


// =================== Adjust Product-Item Balance ==================

%product-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .position-relative {
        flex: 1;

        .product_img {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.all-products-item {
    display: flex;

    .product_wrap {
        width: 100%;
        @extend %product-layout;
    }
}

.shop_container.bb-product-items-wrapper > div {
    display: flex;

    .product {
        width: 100%;
        @extend %product-layout;
    }
}

.owl-stage {
    display: flex;
    align-items: stretch;

    .owl-item {
        display: flex;

        .item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .product_wrap {
                height: 100%;
                @extend %product-layout
            }
        }

        .product {
            width: 100%;
            @extend %product-layout;
        }
    }
}


.product_wrap, .product{
    .product_info {
        text-align: center;

        .rating_wrap {
            display: none;
        }
    }
}


.all-products.style-2 {
    .heading_tab_header {
        flex-direction: column;
        border-bottom: 0px;
        margin-bottom: 12px;

        p { 
            margin-bottom: 6px !important;
        }
    }
}


// ======================================= HEADER =======================================
// #page-home {
//     .dk-header_wrap-custom {
//         margin-bottom: -15px !important;
//     }
// }


.dk-header_wrap-custom {

    .top-header {
        .row {
            ul > li {
                list-style-type: none;
                color: #333;
            }
            
            .col-left {
                ul {
                    padding-right: 35px;
    
                    li{
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }
        }
    }

}






#navCatContent .close-icon {
   position: absolute;
   top: 15px;
   right: 20px;
   cursor: pointer;
   width: 40px;
   height: 40px;
   font-size: 40px;
   color: var(--color-1st);
   font-family: 'Roboto', sans-serif;
}


.dk-dropdown_menu {
    transform: translate(0, 35px) !important;
    padding-right: 0px !important;
    > li {
        padding: 2px 40px 2px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-d-block {
        display: none !important;
    }
    .mobile-d-none {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .dk-header_wrap-custom {
        .bottom_header-categories {
            display: none;
        }
        .bottom_header-subnav {
            .navbar {
                display: flex;
                flex-direction: row-reverse;

                .navbar-toggler {
                    margin: 0px;
                }
            }
        }
    }
    .mobile-d-none {
        display: none !important;
    }
    .mobile-d-block {
        display: block !important;
    }
}


.mobile-menu-item-dk {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px dashed #eaeaea;

    .header_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



// ======================================= FOOTER =======================================
.dk-footer.footer_dark {
    .footer_top {
        .widget-infor {
            margin-top: 14px;
        }
        .widget_title {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .bottom_footer {
        .footer_payments-group {
            gap: 22px;
            .text-payments {
                color: #fff;
            }
        }
    }
}
.dk-footer {
    .footer_logo {
        margin-bottom: 20px;

        img {
            width: 360px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .dk-footer.footer_dark .footer_top .widget_title {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .dk-footer {
        .footer_top {
            .dk-footer-infor {
                order: -5;
            }
            .dk-footer-logo {
                order: -10;
            }
        }
    }
}



// ======================================= CONTACT-PAGE =======================================
.dk-contacts-infor {
    > [class*="col-"] {
        display: flex;

        .contact_wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;

            .contact_text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

// ======================================= HOME PAGE =======================================
// -------------------- Categories-----------------
.dk-feature_categories{
    .owl-stage {
        display: flex;
        align-items: stretch;

        .owl-item {
            display: flex;
        }
    }
}

.dk-fpc-grid-7--style-4-dk {
    .dk-fpc-gallery--style-4-dk {
        display: grid;
        grid-template-columns: 35% 28% 35%;
        gap: 12px;
    }

    .dk-fpc-gallery-slider--style-4-dk {
        display: none;
    }
    max-height: 600px;

    .dk-fpc-gallery__left {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        max-height: 600px;
    }

    .dk-fpc-gallery__left-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .dk-fpc-gallery__right {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        max-height: 600px;
    }

    .dk-fpc-gallery__right-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .dk-fpc-gallery__item {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        max-height: 600px;

        .dk-cat-img-wrapper {
            height: 100%;
            padding: 0;
            position: relative;
        }

        .link-cate-image {
            display: block;
            height: 100%;
            position: relative;
            padding: 0px;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: transparent;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .link-cate-text-line {
            position: absolute;
            left: 12px;
            bottom: 12px;
            z-index: 2;
            color: #fff;
            padding: 4px 20px;
            border-radius: 6px;

            span {
                margin-top: 0;
                color: var(--color-1st);
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .dk-fpc-grid-7--style-4-dk {
        .dk-fpc-gallery--style-4-dk {
            display: none;
        }

        .dk-fpc-gallery-slider--style-4-dk {
            display: block;
        }
    }
}

@media only screen and (max-width: 767px) {
    .dk-fpc-grid-7--style-4-dk {
        .dk-fpc-gallery-slider--style-4-dk {
            display: block;
        }
    }
}

.dk-cat-img-wrapper {
    overflow: hidden;
    padding: 0 0 35px 0;

    &.ratio-1-1 {
        aspect-ratio: 1 / 1;
    }
    &.ratio-3-5 {
        aspect-ratio: 3 / 5;
    }
    &.ratio-5-3 {
        aspect-ratio: 5 / 3;
    }
    &.ratio-auto {
        aspect-ratio: auto;
    }
}
.dk-cat-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .link-cate-image {
        transition: transform .4s ease;
    }
}
.categories_box {
    .dk-cat-img-wrapper {
        &:hover {
            .link-cate-image {
                transform: scale(1.04);
            }
        }
    }
}
.cat_style1 .categories_box a {
    background-color: transparent;
    padding: 0px;
}

.cat_style1 .categories_box span {
    margin-top: 10px;
}

.cat_style1-dk .categories_box a {
    background-color: transparent;
    height: 100%;
    padding: 0px;
}
.cat_style1-dk .categories_box .link-cate-text-line {
    display: inline;
}
.cat_style1-dk .categories_box span {
    margin-top: 10px;
}

.categories_box {
    .link-cate-image {
        img {
            border-radius: 8px;
        }
    }
}


// ===================== Compare Page =========================

.dk-compare_box {
    tbody {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid var(--bs-border-width);

        tr {
            display: flex;
            width: 100%;

            td.row_title {
                max-width: 200px;
                min-width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            td:not(:first-child) {
                flex: 1;
                max-width: 280px;
                min-width: 280px;
            }
            td.product_price {
                margin-bottom: 0px;
            }

            .product_name {
                a {
                    font-size: 16px;
                }
            }
            .attribute-values {
                ul {
                    display: flex;
                    justify-content: space-evenly;

                    li {
                        input.form-control { height: 35px; }
                    }
                }
            }
        }
    }
    .table-bordered>:not(caption)>* {
        border: 1px solid #000;
        border-width: 0px;
    }
    .table-bordered>:not(caption)>*>* {
        border: 1px solid #000;
    }
}


// ===============================
.product-category-details {
    .col-md-3 {
        // h3 {
        //     background: var(--color-1st);
        //     color: #fff;
        //     text-transform: uppercase;
        //     padding: 10px 28px 10px 15px;
        //     font-size: 16px;
        //     margin: 0;
        //     position: relative;
        //     display: inline;

        //     &::before {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         bottom: 0;
        //         border-top: 39px solid var(--color-1st);
        //     }

        //     &::after {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         bottom: 0;
        //         right: -24px;
        //         border-top: 39px solid var(--color-1st);
        //         border-right: 25px solid transparent;
        //     }
        // }
    }
}


// ================================ Our Feature ==============================
.icon_box_style-2-dk {
    padding-right: 32px;

    .icon {
        line-height: 40px;
        margin-bottom: 24px;
        max-height: 46px;
        
        i {
            color: var(--color-1st);
            font-size: 42px;
        }
    }
    .icon_box_content {
        .icon_box_title {
            text-transform: uppercase;
            font-size: 22px !important;
            letter-spacing: 2px;
        }
        .icon_box_description {
            color: #333;
            font-size: 16px;
            line-height: 22px;
            margin-top: 12px;
        }
    }
}
@media screen and (max-width: 575px) {
    .icon_box_style-2-dk{
        text-align: center;
        border: 1px dashed #dd7e6b;
        border-radius: 12px;
        padding: 25px 12px;
        margin: 20px 0px;

        .icon {
            margin-bottom: 15px;
        }
        .icon_box_content {

        }
    }
}


// ======================================= Footer ====================================


// ======================= GRID: 5 COLUMNS (12 / 5 = 2.4) ====================
/* ===== 5 columns grid (12 / 5 = 2.4) ===== */

.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

/* ≥576px */
@media (min-width: 576px) {
    .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥768px */
@media (min-width: 768px) {
    .col-md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥992px */
@media (min-width: 992px) {
    .col-lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥1200px */
@media (min-width: 1200px) {
    .col-xl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
