// ======================================= CUSTOM =======================================
.btn-fill-out:hover {
    outline: 1px solid var(--color-1st);
}

.dk-filter_product.product_header_right {
    .custom_select {
        .form-control {
            min-width: 125px;
        }
    }
}

.dk-compare_box {
    table {
        tr {
            border-color: #000;
        }
    }
}
.dk-products_attribute {
    span {
        font-size: 12px;
        font-weight: 500;
    }
}





// =================== Adjust Product-Item Balance ==================

%product-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .position-relative {
        flex: 1;

        .product_img {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.all-products-item {
    display: flex;

    .product_wrap {
        width: 100%;
        @extend %product-layout;
    }
}

.shop_container.bb-product-items-wrapper > div {
    display: flex;

    .product {
        width: 100%;
        @extend %product-layout;
    }
}

.owl-stage {
    display: flex;
    align-items: stretch;

    .owl-item {
        display: flex;

        .item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .product_wrap {
                height: 100%;
                @extend %product-layout
            }
        }

        .product {
            width: 100%;
            @extend %product-layout;
        }
    }
}


.product_wrap, .product{
    .product_info {
        text-align: center;

        .rating_wrap {
            display: none;
        }
    }
}


.all-products.style-2 {
    .heading_tab_header {
        flex-direction: column;

        p { 
            margin-bottom: 6px !important;
        }
    }
}


// ======================================= HEADER =======================================
#page-home {
    .dk-header_wrap-custom {
        margin-bottom: -15px !important;
    }
}


.dk-header_wrap-custom {

    .top-header {
        .row {
            ul > li {
                list-style-type: none;
                color: #333;
            }
            
            .col-left {
                ul {
                    padding-right: 35px;
    
                    li{
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }
        }
    }

    // .middle-header {
    //     z-index: 10000;
    // }

    // .bottom_header:not(.fixed-top) {
    //     // z-index: 999;

    //     .categories_wrap {
    //         z-index: 9999;
    //     }

    //     .navbar {
    //         z-index: 1001;
    //     }
    //     .navbar-toggler.side_navbar_toggler {
    //         z-index: 1002;
    //     }
    // }





}
#navCatContent .close-icon {
   position: absolute;
   top: 15px;
   right: 20px;
   cursor: pointer;
   width: 40px;
   height: 40px;
   font-size: 40px;
   color: var(--color-1st);
   font-family: 'Roboto', sans-serif;
}


.dk-dropdown_menu {
    transform: translate(0, 35px) !important;
    padding-right: 0px !important;
    > li {
        padding: 2px 40px 2px 10px;
    }
}

// ======================================= FOOTER =======================================
.dk-footer.footer_dark {
    .footer_top {
        .widget_title {
            font-size: 28px;
            margin-top: 42px;
            margin-bottom: 32px;
        }
    }

    .dk-footer-infor {
        border: 1px solid var(--color-1st);
        box-shadow: inset 0px 0px 14px 4px var(--color-1st);
    }
}

@media only screen and (max-width: 767px) {
    .dk-footer.footer_dark .footer_top .widget_title {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}





// ======================================= CONTACT-PAGE =======================================
.dk-contacts-infor {
    > [class*="col-"] {
        display: flex;

        .contact_wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;

            .contact_text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

// ======================================= HOME PAGE =======================================
// -------------------- Categories-----------------
.dk-feature_categories{
    .owl-stage {
        display: flex;
        align-items: stretch;

        .owl-item {
            display: flex;
        }
    }
}

.dk-cat-img-wrapper {
    overflow: hidden;
    padding: 0 0 35px 0;

    &.ratio-1-1 {
        aspect-ratio: 1 / 1;
    }
    &.ratio-3-5 {
        aspect-ratio: 3 / 5;
    }
    &.ratio-5-3 {
        aspect-ratio: 5 / 3;
    }
    &.ratio-auto {
        aspect-ratio: auto;
    }
}
.dk-cat-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .link-cate-image {
        transition: transform .4s ease;
    }
}
.categories_box {
    .dk-cat-img-wrapper {
        &:hover {
            .link-cate-image {
                transform: scale(1.04);
            }
        }
    }
}
.cat_style1 .categories_box a {
    background-color: transparent;
    padding: 0px;
}

.cat_style1 .categories_box span {
    margin-top: 10px;
}

.cat_style1-dk .categories_box a {
    background-color: transparent;
    height: 100%;
    padding: 0px;
}
.cat_style1-dk .categories_box .link-cate-text-line {
    display: inline;
}
.cat_style1-dk .categories_box span {
    margin-top: 10px;
}





// ======================================= Footer ====================================
.dk-footer {
    .footer_logo {
        margin-bottom: 10px;

        img {
            max-width: 320px ;
        }
    }

    .widget-infor {
        width: 100%;
        text-align: center;
    }
}

// -----------------------------------------------------