// ======================================= CUSTOM =======================================
.btn-fill-out:hover {
    outline: 1px solid var(--color-1st);
}

.dk-filter_product.product_header_right {
    .custom_select {
        .form-control {
            min-width: 125px;
        }
    }
}

.dk-compare_box {
    table {
        tr {
            border-color: #000;
        }
    }
}
.dk-products_attribute {
    span {
        font-size: 12px;
        font-weight: 500;
    }
}





// =================== Adjust Product-Item Balance ==================

%product-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .position-relative {
        flex: 1;

        .product_img {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.all-products-item {
    display: flex;

    .product_wrap {
        width: 100%;
        @extend %product-layout;
    }
}

.shop_container.bb-product-items-wrapper > div {
    display: flex;

    .product {
        width: 100%;
        @extend %product-layout;
    }
}

.owl-stage {
    display: flex;
    align-items: stretch;

    .owl-item {
        display: flex;

        .item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .product_wrap {
                height: 100%;
                @extend %product-layout
            }
        }

        .product {
            width: 100%;
            @extend %product-layout;
        }
    }
}


.product_wrap, .product{
    .product_info {
        text-align: center;

        .rating_wrap {
            display: none;
        }
    }
}


.all-products.style-2 {
    .heading_tab_header {
        flex-direction: column;

        p { 
            margin-bottom: 6px !important;
        }
    }
}


// ======================================= HEADER =======================================
#page-home {
    .dk-header_wrap-custom {
        margin-bottom: -15px !important;
    }
}


.dk-header_wrap-custom {

    .top-header {
        .row {
            ul > li {
                list-style-type: none;
                color: #333;
            }
            
            .col-left {
                ul {
                    padding-right: 35px;
    
                    li{
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }
        }
    }

}






#navCatContent .close-icon {
   position: absolute;
   top: 15px;
   right: 20px;
   cursor: pointer;
   width: 40px;
   height: 40px;
   font-size: 40px;
   color: var(--color-1st);
   font-family: 'Roboto', sans-serif;
}


.dk-dropdown_menu {
    transform: translate(0, 35px) !important;
    padding-right: 0px !important;
    > li {
        padding: 2px 40px 2px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-d-block {
        display: none !important;
    }
    .mobile-d-none {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .dk-header_wrap-custom {
        .bottom_header-categories {
            display: none;
        }
        .bottom_header-subnav {
            .navbar {
                display: flex;
                flex-direction: row-reverse;

                .navbar-toggler {
                    margin: 0px;
                }
            }
        }
    }
    .mobile-d-none {
        display: none !important;
    }
    .mobile-d-block {
        display: block !important;
    }
}





// ======================================= FOOTER =======================================
.dk-footer.footer_dark {
    .footer_top {
        .widget-infor {
            margin-top: 14px;
        }
        .widget_title {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
}
.dk-footer {
    .footer_logo {
        margin-bottom: 20px;

        img {
            width: 360px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .dk-footer.footer_dark .footer_top .widget_title {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .dk-footer {
        .footer_top {
            .dk-footer-infor {
                order: -5;
            }
            .dk-footer-logo {
                order: -10;
            }
        }
    }
}



// ======================================= CONTACT-PAGE =======================================
.dk-contacts-infor {
    > [class*="col-"] {
        display: flex;

        .contact_wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;

            .contact_text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

// ======================================= HOME PAGE =======================================
// -------------------- Categories-----------------
.dk-feature_categories{
    .owl-stage {
        display: flex;
        align-items: stretch;

        .owl-item {
            display: flex;
        }
    }
}

.dk-cat-img-wrapper {
    overflow: hidden;
    padding: 0 0 35px 0;

    &.ratio-1-1 {
        aspect-ratio: 1 / 1;
    }
    &.ratio-3-5 {
        aspect-ratio: 3 / 5;
    }
    &.ratio-5-3 {
        aspect-ratio: 5 / 3;
    }
    &.ratio-auto {
        aspect-ratio: auto;
    }
}
.dk-cat-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .link-cate-image {
        transition: transform .4s ease;
    }
}
.categories_box {
    .dk-cat-img-wrapper {
        &:hover {
            .link-cate-image {
                transform: scale(1.04);
            }
        }
    }
}
.cat_style1 .categories_box a {
    background-color: transparent;
    padding: 0px;
}

.cat_style1 .categories_box span {
    margin-top: 10px;
}

.cat_style1-dk .categories_box a {
    background-color: transparent;
    height: 100%;
    padding: 0px;
}
.cat_style1-dk .categories_box .link-cate-text-line {
    display: inline;
}
.cat_style1-dk .categories_box span {
    margin-top: 10px;
}





// ======================================= Footer ====================================


// ======================= GRID: 5 COLUMNS (12 / 5 = 2.4) ====================
/* ===== 5 columns grid (12 / 5 = 2.4) ===== */

.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

/* ≥576px */
@media (min-width: 576px) {
    .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥768px */
@media (min-width: 768px) {
    .col-md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥992px */
@media (min-width: 992px) {
    .col-lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* ≥1200px */
@media (min-width: 1200px) {
    .col-xl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
